* {
    box-sizing: border-box;
}

html {
    margin: 0;
    position: relative;
    background: white;
    font-family: 'Josefin Sans', 'Roboto', 'Cardo', Arial, Helvetica, sans-serif
}


nav {
    width: 100vw;
    background: #0f0e0e;
    color: white;
    height: 60px;
    box-shadow: 0 2px 2px 0 rbg(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    left: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

#nav-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

footer {
    width: 100vw;
    background: #0f0e0e;
    color: white;
    height: 25px;
    box-shadow: 0 2px 2px 0 rbg(0, 0, 0, 0.15);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

footer p,
footer a {
    margin: 0;
    font-size: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

footer a:hover, footer a:focus {
    color: blue;
} 

#nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-wrapper div {
    line-height: 60px;
}

#nav-wrapper div a {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#nav-wrapper div img {
    max-width: 50px;
    vertical-align: middle;
    cursor: pointer;
}

#landing {
    padding-top: 15vh;
    min-height: 90vh;
}

h1, 
h3 {
    text-align: center;
}

h1 {
    font-size: 62px;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    line-height: 50px;
    font-size: 30px;
}

#bio {
    padding-top: 5vh;
}

h3 {
    font-size: 26px;
    line-height: 40px;
}

#landing p {
    max-width: 600px;
    text-align: left;
}

#landing div {
    text-align: -webkit-center;
}
 
#logo a:hover, #logo a:focus,
#links a:hover, #links a:focus {
    background: #ddd;
    color: #0f0e0e;
    transition: 1s;
}


#projects {
    text-align: center;
    padding: 40px 0;
}


.project {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.project > img {
    max-width: 75%;
    border-radius: 3px;
    box-shadow: 3px 3px 1px 0px #e2e2e2;
} 

.project .description {
    text-align: left;
    color: #8a8a8a;
}


.project > .centre {
    text-align: center;
}

p {
    font-family: Cardo;
    font-size: 20px;
}

.project div {
    /* word-spacing: 1px; */
    color: #8a8a8a;
}
.project a{
    text-decoration: none;
    color: #0f0e0e; 
}

.project a:hover, .project a:focus {
    /* text-decoration: underline; */
    letter-spacing: 1px;
    color: white;
    transition: 0.25s;
    background-size: 100% 100%;
}

.project a {
    background-image: linear-gradient(120deg, #cecece 0%, #1d1d1d 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1rem;
    padding: 2px;
    background-position: 0px 100%;
    transition: background-size 0.25s ease-in;
  }

  /* =========================Tablets and Ipads========================== */
  
  @media only screen and (max-width: 1024px) {
    html, body {
          max-width: 100vw;
      }

    #nav-wrapper {
        max-width: 90vw;
    }

    main {
        max-width: 80vw;
    }
    
    #landing {
        padding-top: 15vh;
        min-height: 90vh;
    }
  }

  /* =====================Low res tablets and Mobiles========================= */
 
  
  @media only screen and (max-width: 767px) {
    
    html, body {
        max-width: 100vw;
    }

    #nav-wrapper {
        max-width: 95vw;
    }

    main {
        max-width: 85vw;
    }

    .project img {
        max-width: 80%;
    }
    
    h1 {
        font-size: 50px;
    }
    h3 {
        font-size: 23px;
        line-height: 35px;
    }

    p {
        font-size: 18px;
    }
    
  }
  
  
  @media only screen and (max-width: 480px) {
    
    html, body {
        max-width: 100vw;
    }


    #nav-wrapper {
        max-width: 95vw;
    }

    main {
        max-width: 90vw;
    }

    .project img {
        max-width: 90%;
    }

    #nav-wrapper div a {
        font-size: 12px;
        padding: 8px;
    }

    h1 {
        font-size: 35px;
    }
    h3 {
        font-size: 18px;
        line-height: 20px;
    }

    h2 {
        font-size: 24px;
    }
    
    p {
        font-size: 16px;
    }

    footer p {
        margin: 0;
        font-size: 14px;
    }
  }